<header class="containder-fluid header-area overlay " id="header">
    <nav class=" container-fluid navbar navbar-expand-md navbar-dark " id="menu">
        <div class="container-fluid">
            <a href="#" class="navbar-brand" id="kiff">ADMINISTRATEUR</a>
            
                    
            <button type="button" class="navbar-toggler collapsed container-fluid" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>
            
            <div id="main-nav" class="collapse navbar-collapse container-fluid">
                <ul class="navbar-nav ml-auto">
                    

                  
                </ul>
            </div>
        </div>
    </nav>
</header> 
