body{margin-top:20px;}
#cancel{
    background-color:white;
    border-color: transparent;
}

#retour{
    background-color:red;
    width: 160x;
    border-color: transparent;
}
#lineretour{
    background-color: #fff;
}
#pass{
    background-color:green;
    border-color:transparent;
    
}

#bouton{
 border-radius: 65px;
}

#form{
    background-color:black;
   width:auto ;
   height:500px;
    zoom:100px;
  

}
#couche{
    background-color:black;
    border-color:red;
    font-size: 40px;
  
}

input{
    padding-top: 1px;
    border-radius: 10px;
}