<header class="containder-fluid header-area overlay " id="header">
    <nav class=" container-fluid navbar navbar-expand-md navbar-dark  navbar-fixed-top" id="menu">
        <div class="container-fluid">
            <a href="#" class="navbar-brand" id="kiff">SAVEUR-CELESTE</a>
            
                    
            <button type="button" class="navbar-toggler collapsed container-fluid" data-toggle="collapse" data-target="#main-nav">
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
                <span class="menu-icon-bar"></span>
            </button>
            
            <div id="main-nav" class="collapse navbar-collapse container-fluid">
                <ul class="navbar-nav ml-auto">
                    <li><a routerLink="/menu"  class="nav-item nav-link">MENU</a></li>
                    <li><a routerLink="/panier" class="nav-item nav-link">PANIER</a></li>
                    <li><a routerLink="/accueil" class="nav-item nav-link ">MON-COMPTE</a></li>
                    <li><a routerLink="/accueil" class="nav-item nav-link " ngIF="id===administrateur">LISTE-EMPLOYER</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header> 


