<h2>Liste_Serveur</h2>

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-6 col-xl-3">
            <div class="card m-b-30"class="livreur">
                <div class="card-body row" >
                    <div class="col-6" >
                        <a href=""><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" class="img-fluid rounded-circle w-60"></a>
                    </div>
                    <div class="col-6 card-title align-self-center mb-0" >
                        <h5>Kona Dave</h5>
                        <p class="m-0">Serveur</p>
                    </div>
                </div >
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Adresse: <a href="#">Ndogbong</a></li>
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email: <a href="#">davekona@gmail.com</a></li>
                    <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : <a href="#">+237 699 92 90 93</a></li>
                    <li class="list-group-item"><i ></i>Sexe : <a href="#">Masculin</a></li>
                    <li class="list-group-item"><i ></i>heure-travail: <a href="#">08h-14h</a></li>

                
                </ul>
                <div class="card-body">
                    <div class="float-right btn-group btn-group-sm">
                        <a href="#" class="btn btn-primary tooltips edit" data-placement="top" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil " ></i> </a>
                        <a href="#" class="btn btn-secondary tooltips delete" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times "></i></a>
                    </div>
                   
                </div>
            </div>
        </div>
       
   
