<div class="row mb-1 mr-0 customer-border">
  <!-- Information client -->
  <div class="col-md-4 border-right mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div>Nom</div>
      </div>
      <div class="row">
        <div>Prenom</div>
      </div>
      <div class="row">
        <div>Telephone</div>
      </div>
    </div>
  </div>


  <!-- Adresse du client -->
  <div class="col-md-4 border-right mt-1 mb-1">
    <div class="col">
      <div class="row">
        <div>Adresse</div>
      </div>
      <div class="row">
        <div>Ville</div>
      </div>
      <div class="row">
        <div>Pays</div>
      </div>
    </div>
  </div>


  <!-- Boutons action -->
  <div class="col-md-3 border-right  mb-1 mt-1">

    <div class="row">
      <div class="col-md-4">
        <button type="button" class="btn btn-link">
          <i class="fas fa-pencil-fill"></i>&nbsp;Modifier
        </button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">Supprimer</button>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-link">Details</button>
      </div>

    </div>
  </div>
  </div>
