<div class="col">

  <!-- <div class="col-md-12 mb-3 mt-2">
    <img src="assets/img/default-150x150.png" class="rounded-circle" alt="">
  </div>
  <hr> -->

  <!-- Titre -->
  <div class="col-md-12 mt-5">
    <h2>Modifier article</h2>
  </div>

  <!-- Information sur l'aricle -->
  <div class="col-md-12 mt-5">
    <form [formGroup]="articleFormGroup" (ngSubmit)="handleUpdateArticle()">
      <div class="col">
        <div class="row mb-3">
          <label class="form-label">code</label>
          <label class="form-label">{{article.code}}</label>
        </div>
        <div class="row mb-3">
          <input type="text" class="form-control" formControlName="designation" placeholder="Designation">
          <small *ngIf="articleFormGroup.controls['designation'].errors && articleFormGroup.controls['designation'].touched" class="text-danger">
            Designation is required
          </small>
        </div>
      </div>
        <div class="col">
          <div class="row mb-3">
            <input type="text" class="form-control" formControlName="prix" placeholder="Prix">
            <small *ngIf="articleFormGroup.controls['prix'].errors && articleFormGroup.controls['prix'].touched" class="text-danger">
              Prix is required
            </small>
          </div>
          <div class="row mb-3">
            <select class="form-select" aria-label="Default select example" formControlName="categorie" placeholder="Categorie">
              <option selected>Selectionner une categorie</option>
              <option value="Boissons">Boissons</option>
              <option value="desert">desert </option>
              <option value="Plats">Plats</option>
            </select>
            <small *ngIf="articleFormGroup.controls['categorie'].errors && articleFormGroup.controls['categorie'].touched" class="text-danger">
              Categorie is required
            </small>
          </div>
        </div>

        <!-- Bouton action -->

  <div class="col-md-12 text-right mb-3">
    <button type="button" class="btn btn-danger" (click)="cancelClick()">
      <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
      Annuler
    </button>
    <button [disabled]="articleFormGroup.invalid" type="submit" class="btn btn-primary ml-2">
      <i class="fa fa-save" aria-hidden="true"></i>&nbsp;
      Enregistrer
    </button>
  </div>
    </form>
  </div>




</div>
