<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Listes des Commandes</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">Numero</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Position</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Numero-Telephone</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">JOUR & heure-livraison</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Total-Commande</th>
                     <th cope="col" class="border-0 text-uppercase font-medium">Option</th>
                    
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pl-4">1</td>
                      <td>
                          <h5 class="font-medium mb-0">Kona Dave </h5>
                         
                      </td>
                      <td>
                          <span class="text-muted">Douala Cameroun</span><br>
                          <span class="text-muted">Ndogbong citadel</span>
                      </td>
                      <td>
                          <span class="text-muted">+237 699-92-90-93</span>
                      </td>
                      <td>
                          <span class="text-muted">15 Mar 2023</span><br>
                          <span class="text-muted">10: 55 AM</span>
                      </td>
                      <td>
                            <span class="text-muted">15000 Fcfa</span><br>
                         
                  
                      </td>
                      <td>
                            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
                            <div class="buttons-preview"  class="model">
                                <button class="btn btn-success" data-toggle="modal" data-target="#modal-success">Success</button>
                                <button class="btn btn-danger" data-toggle="modal" data-target="#modal-danger">Echec</button>
                               
                            </div>
                            
                             <!--Success Modal Templates-->
                                <div id="modal-success" class="modal modal-message modal-success fade " style="display: none;" aria-hidden="true">
                                  
                                    <div class="modal-dialog"  id="success">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <i class="glyphicon glyphicon-check">CONFIRMEZ-LIVRAISON</i>
                                            </div>
                                            
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Confirmez</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                            </div>
                                        </div> <!-- / .modal-content -->
                                    </div> <!-- / .modal-dialog -->
                                </div>
                                <!--End Success Modal Templates-->
                                
                                <!--Danger Modal Templates-->
                                <div id="modal-danger" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content" id="echec">
                                            <div class="modal-header">
                                                <i class="glyphicon glyphicon-fire" id="ie"><p>ECHEC-LIVRAISON</p></i>
                                            </div>
                                            <div class="modal-title"></div>
                            
                                            <div class="modal-body">MOTIF</div>
                                            <textarea></textarea>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">ENVOYEZ-MOTIF</button>
                                            </div>
                                        </div> <!-- / .modal-content -->
                                    </div> <!-- / .modal-dialog -->
                                </div>
                                <!--End Danger Modal Templates-->
                                <!--Danger Modal Templates-->
                               
                          </td>
                    </tr>
                   
                   
                    
                    
                   
                </table>
               
            </div>
        </div>
    </div>
</div>
</div>
