
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- meta -->
                <div class="profile-user-box card-box bg-custom">
                    <div class="row">
                        <div class="col-sm-6"><span class="float-left mr-3"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="thumb-lg rounded-circle"></span>
                            <div class="media-body text-white">
                                <h4 class="mt-1 mb-1 font-18">Michelle Zazea</h4>
                                <p class="font-13 text-light">Gerante de Saveur-Celeste</p>
                                <p class="text-light mb-0">Douala, cameroun</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="text-right">
                                <button type="button" class="btn btn-light waves-effect" routerLink="/parametre-compte"><i class="mdi mdi-account-settings-variant mr-1" ></i>Modifier-Compte</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/ meta -->
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-xl-4">
                <!-- Personal-Information -->
                <div class="card-box">
                    <h4 class="header-title mt-0">Informations Personnelles</h4>
                    <div class="panel-body">
                        <p class="text-muted font-13">je suis michelle Zazea passionne de cuisine .</p>
                        <hr>
                        <div class="text-left">
                            <p class="text-muted font-13"><strong>Nom-utilisateur :</strong> <span class="m-l-15">Michelle Zazea</span></p>
                            <p class="text-muted font-13"><strong>Mobile :</strong><span class="m-l-15">(+237) 6 99 92 90 93</span></p>
                            <p class="text-muted font-13"><strong>Email :</strong> <span class="m-l-15">Zazeamichelle@gmail.com</span></p>
                            <p class="text-muted font-13"><strong>Location :</strong> <span class="m-l-15">cameroun</span></p>
                            <p class="text-muted font-13"><strong>Languages :</strong> <span class="m-l-5"><span class="flag-icon flag-icon-us m-r-5 m-t-0" title="us"></span> <span>English</span> </span><span class="m-l-5"><span class="flag-icon flag-icon-de m-r-5" title="de"></span> <span>German</span> </span><span class="m-l-5"><span class="flag-icon flag-icon-es m-r-5" title="es"></span> <span>Spanish</span> </span><span class="m-l-5"><span class="flag-icon flag-icon-fr m-r-5" title="fr"></span> <span>French</span></span>
                            </p>
                        </div>
                        <ul class="social-links list-inline mt-4 mb-0">
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a title="" data-placement="top" data-toggle="tooltip" class="tooltips" href="" data-original-title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- Personal-Information -->
                
                    <!-- end col -->
         <table class="statistique">
                    <tr>
                        <td>
                    <div class="col-sm-4">
                        <div class="card-box tilebox-one"><i class="icon-paypal float-right text-muted"></i>
                            <h6 class="text-muted text-uppercase mt-0">Nombre-Commande</h6>
                            <h2 class=""><span data-plugin="counterup">13</span></h2><span class="badge badge-danger">-29% </span><span class="text-muted">  cette semaine</span></div>
                    </div>
                    </td>
                    <!-- end col -->
                   
                <td>
                        <div class="col-sm-4">
                            <div class="card-box tilebox-one"><i class="icon-rocket float-right text-muted"></i>
                                <h6 class="text-muted text-uppercase mt-0">Nombre-livraison-effectue</h6>
                                <h2 class="" data-plugin="counterup">13</h2><span class="badge badge-custom">+89% </span><span class="text-muted">cette semaine</span></div>
                        </div>
                        <!-- end col -->
                    </td>
                    <td>
                            <div class="col-sm-4">
                                <div class="card-box tilebox-one"><i class="icon-rocket float-right text-muted"></i>
                                    <h6 class="text-muted text-uppercase mt-0">Total-Revenue</h6>
                                    <h2 class="" data-plugin="counterup">14000 Fcfa</h2><span class="badge badge-custom " id="revenue">+89% </span><span class="text-muted">cette semaine</span></div>
                            </div>
                            <!-- end col -->
                        </td>
            </tr>
       </table>
                </div>
                <!-- end row -->
                  
                <div class="card-box">
                    <h4 class="header-title mb-3">Nombre-Client(5)</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>Date-Inscription</th>
                                    <th>Date-Derniere-Commande</th>
                                    <th>Nombre-Commande-Passe</th>
                                    <th>Assign</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Adminox Admin</td>
                                    <td>01/01/2015</td>
                                    <td>07/05/2015</td>
                                    <td><span class="label label-info">1</span></td>
                                    <td>Coderthemes</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Adminox Frontend</td>
                                    <td>01/01/2015</td>
                                    <td>07/05/2015</td>
                                    <td><span class="label label-success">3</span></td>
                                    <td>Coderthemes</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Adminox Admin</td>
                                    <td>01/01/2015</td>
                                    <td>07/05/2015</td>
                                    <td><span class="label label-pink">3</span></td>
                                    <td>Coderthemes</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Adminox Frontend</td>
                                    <td>01/01/2015</td>
                                    <td>07/05/2015</td>
                                    <td><span class="label label-purple">1</span></td>
                                    <td>Coderthemes</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td>Adminox Admin</td>
                                    <td>01/01/2015</td>
                                    <td>07/05/2015</td>
                                    <td><span class="label label-warning">4</span></td>
                                    <td>Coderthemes</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- end col -->
         </div>
        <!-- end row -->
       </div>
    <!-- container -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
           <div class="col">
             <div class="card radius-10 border-start border-0 border-3 border-info">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div>
                            <p class="mb-0 text-secondary">Totale commande</p>
                            <h4 class="my-1 text-info">100 cmd</h4>
                            <p class="mb-0 font-13">+2.5% la  semaine</p>
                        </div>
                        <div class="widgets-icons-2 rounded-circle bg-gradient-scooter text-white ms-auto"><i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                </div>
             </div>
           </div>
           <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-danger">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">Totale Revenue</p>
                           <h4 class="my-1 text-danger">100 000 Fcfa</h4>
                           <p class="mb-0 font-13">+5.4% la  semaine</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-bloody text-white ms-auto"><i class="fa fa-dollar"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-success">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">taux de reussite</p>
                           <h4 class="my-1 text-success">34.6%</h4>
                           <p class="mb-0 font-13">-4.5% de la semaine passe</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-ohhappiness text-white ms-auto"><i class="fa fa-bar-chart"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div>
          <div class="col">
            <div class="card radius-10 border-start border-0 border-3 border-warning">
               <div class="card-body">
                   <div class="d-flex align-items-center">
                       <div>
                           <p class="mb-0 text-secondary">Totale Client</p>
                           <h4 class="my-1 text-warning">5</h4>
                           <p class="mb-0 font-13">+8.4% de la semaine passe</p>
                       </div>
                       <div class="widgets-icons-2 rounded-circle bg-gradient-blooker text-white ms-auto"><i class="fa fa-users"></i>
                       </div>
                   </div>
               </div>
            </div>
          </div> 
        </div>
    </div>
