body{
    background: #f5f5f5;
    margin-top:20px;
}

.ui-w-80 {
    width: 80px !important;
    height: auto;
}

.btn-default {
    border-color:red;
    background:red;
    color:white;
}

label.btn {
    margin-bottom: 0;
}

.btn-outline-primary {
    border-color:transparent;
    background:green;
    color:white;
}

.btn {
    cursor: pointer;
}

.text-light {
    color: #babbbc !important;
}


.card {
    background-clip: padding-box;
   
}

.row-bordered {
    overflow:inherit;
}

.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}
.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}
html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}
.account-settings-multiselect ~ .select2-container {
    width: 100% !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.material-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}
.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}
.dark-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}
.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}
.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}
.light-style .account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24,28,33,0.03) !important;
}

#save{
    background-color:green;
    border-color: transparent;
}

a:hover{
    background-color:brown;
    
}
a{
    background-color:transparent;
}

#option{
    background-color: transparent;
}

#option:hover{
    background-color:brown;
    
}
#form{
    background-color: linear-gradient(30deg,rgb(119, 100, 100), beige);
}
#card{
    background: rgb(207, 207, 207);
    padding: 3rem;
    height:790px;
    border-radius:20px;
    border-left: 1px solid rgb(255,255,255,.3) ;
    border-top: 1px solid rgb(255,255,255,.3) ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    
    box-shadow: 20px 20px 40px -6px rgb(0,0,2);
    text-align: center;
}