
  <div class="col">
    <div class="col-md-12 mb-3 mt-2">
      <img src="assets/img/default-150x150.png" class="rounded-circle" alt="">
    </div>
    <hr>
    <div class="col-md-12">
      <div class="col-md-12 mb-3">
        <h2>Nouveau un client </h2>
      </div>
      <div class="col-md-12">
        <form>
          <div class="row">
            <div class="col mb-3">
              <input type="text" class="form-control" placeholder="Nom">
            </div>
            <div class="col mb-3">
              <input type="text" class="form-control" placeholder="Prenom">
            </div>
          </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Telephone">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Adresse">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control" placeholder="Ville">
              </div>
              <div class="col mb-3">
                <input type="e-mail" class="form-control" placeholder="Pays">
              </div>
            </div>
        </form>
      </div>
    </div>



    <!-- Bouton action -->
    <div class="col text-right mb-3">
      <button type="button" class="btn btn-danger" (click)="cancelClick()">
        <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
        Annuler
      </button>
      <button type="button" class="btn btn-primary ml-2">
        <i class="fa fa-save" aria-hidden="true"></i>&nbsp;
        Enregistrer
      </button>
    </div>

  </div>

