<div id="accordion">
        <div class="card" *ngfor="let menu of menuProperties">
          <div class="card-header" id=" 'menu1' +  menu1.id">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" attr.data-target="#'collapseOne' + menu_true.id" aria-expanded="true" aria-controls="collapseOne">
                  {{menu1.titre}}
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" attr.aria-labelledby="'menu' + menu_true.id " data-parent="#accordion"
          *ngfor="let  sousMenu of menu.sousMenu">
          {{sousMenu.titre}}
        
               
             
            </div>
          </div>
        </div>
        
