
	
<div class="container-fluid" id="mon_compte">
<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-white profile-widget">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container bg2">  
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="avatar" alt="avatar"> 
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="details">
                        <h4>    Kona dave <i class="fa fa-sheild"></i></h4>
                        <div>Beatmaker</div>
                        <div>j'aime manger africain</div>
                        <div id="saveur"><b>saveur celeste</b></div> 
                      
                    </div>
                </div>

            </div>
        </div>
        
        <div class="row">
            
            <div class="col-sm-6">
                
                <div class="panel panel-white border-top-purple">
                  
                       
                    </div>
                </div>
                 
              
                <div class="panel panel-white border-top-green">
                   <div class="panel-heading">
                        <h3 class="panel-title"><i>Information de l'utilisateur</i></h3>
                        <div class="controls pull-right">
                            <span class="pull-right clickable">
                                <i class="fa fa-chevron-up"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body"> 
                        <div class="body-section">
                            <h5 class="section-heading">Name</h5>
                            <p class="section-content">Kona dave</p>
                        </div>
                        <div class="body-section">
                            <h5 class="section-heading">Address</h5>
                            <p class="section-content">ndogbong citadel</p>
                        </div>
                        <div class="body-section">
                            <h5 class="section-heading">Telephone</h5>
                            <p class="section-content">+237 699929093</p>
                        </div>
                        <div class="body-section">
                            <h5 class="section-heading">Email</h5>
                            <p class="section-content">davekonadjaksi@gmail.com</p>
                        </div> 
                        <div class="body-section">
                            <h5 class="section-heading">Sexe</h5>
                            <p class="section-content">Masculin</p>
                        </div>  
                        <div class=" ">
                            <a routerLink="../parametre-compte" class="btn btn-green btn-sm" id="edit">Edit</a>
                        </div>
                    </div>
                </div>
                 
               
                 
                <div class="panel panel-white border-top-blue">
                   <div class="panel-heading">
                        <h3 class="panel-title"><i>Statistique Livraison</i></h3>
                        <div class="controls pull-right">
                            <span class="pull-right clickable">
                                <i class="fa fa-chevron-up"></i>
                            </span>
                        </div>
                    </div>
                    <div class="panel-body">  
                        <div class="body-section">
                            <h5 class="section-heading">Nombre de commande passe</h5>
                            <p class="section-content">11 cmd</p>
                        </div>
                        <div class="body-section">
                            <h5 class="section-heading">date derniere commande passe</h5>
                            <p class="section-content">12/03/2023</p>
                        </div>
                        <div class="body-section">
                            <h5 class="section-heading">Nombre de livraiosn recu </h5>
                            <p class="section-content">8 liv</p>
                        </div>  
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </div>

</div>
	 
	 
	
