<div class="col">

  <!-- <div class="col-md-12 mb-3 mt-2">
    <img src="assets/img/default-150x150.png" class="rounded-circle" alt="">
  </div>
  <hr> -->

  <!-- Titre -->
  <div class="col-md-12 mt-5">
    <h2>Modifier Commande client</h2>
  </div>

  <!-- Information sur l'aricle -->
  <div class="col-md-12 mt-5">
    <form [formGroup]="commandeClientFormGroup" (ngSubmit)="handleUpdateCommandeClient()">
      <div class="col">
        <div class="row mb-3">
          <label class="form-label">ID</label>
          <label class="form-label">{{commande.ID}}</label>
        </div>
        <div class="row mb-3">
          <input type="text" class="form-control" formControlName="client" placeholder="Client">
          <small *ngIf="commandeClientFormGroup.controls['client'].errors && commandeClientFormGroup.controls['client'].touched" class="text-danger">
            client is required
          </small>
        </div>
      </div>
        <div class="col">
          <div class="row mb-3">
            <input type="text" class="form-control" formControlName="datecommande" placeholder="Datecommande">
            <small *ngIf="commandeClientFormGroup.controls['datecommande'].errors && commandeClientFormGroup.controls['datecommande'].touched" class="text-danger">
              Prenom is required
            </small>
          </div>
          <div class="row mb-3">
            <div class="row mb-3">
              <input type="text" class="form-control" formControlName="montanttotal" placeholder="Montanttotal">
              <small *ngIf="commandeClientFormGroup.controls['montanttotal'].errors && commandeClientFormGroup.controls['montanttotal'].touched" class="text-danger">
                Telephone is required
              </small>
            </div>
          </div>
          <div class="row mb-3">
            <div class="row mb-3">
              <input type="text" class="form-control" formControlName="statutcommande" placeholder="Statutcommande">
              <small *ngIf="commandeClientFormGroup.controls['statutcommande'].errors && commandeClientFormGroup.controls['statutcommande'].touched" class="text-danger">
                Adresse is required
              </small>
            </div>
          </div>
        </div>

        <!-- Bouton action -->

  <div class="col-md-12 text-right mb-3">
    <button type="button" class="btn btn-danger" (click)="cancelClick()">
      <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
      Annuler
    </button>
    <button [disabled]="commandeClientFormGroup.invalid" type="submit" class="btn btn-primary ml-2">
      <i class="fa fa-save" aria-hidden="true"></i>&nbsp;
      Enregistrer
    </button>
  </div>
    </form>
  </div>




</div>
