
<div class="row mb-1 mr-0 customer-border">

  <div class="col-md-2 border-right mt-1 mb-1">
      <div class="row text-center">
        <div>Code art</div>
      </div>
  </div>


  <div class="col-md-2 border-right  mb-1 mt-1">
      <div class="row">
        <div>Designation</div>
      </div>
  </div>

  <div class="col-md-2 border-right  mb-1 mt-1">
    <div class="row">
      <div>Quantite commandee</div>
    </div>
</div>


<div class="col-md-2 border-right  mb-1 mt-1">
  <div class="row">
    <div>PU</div>
  </div>
</div>



<div class="col-md-2 border-right  mb-1 mt-1">
  <div class="row">
    <div>PT</div>
  </div>
</div>





  <!-- Boutons action -->
  <div class="col-md-2 mb-1 mt-1">

    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-link">
          Modifier
        </button>
      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-link">Supprimer</button>
      </div>
    </div>
  </div>


</div>

