<div class="container" id="card">

    <table>
       <tr>
          <td>
             <div class="card mb-3" id="card_1" routerLink="/gestion-livreur">
                     <img class="card-img-top" src="../../assets/images/livreur.png" id="image" > 
                     
                     <h5 class="card-title">LIVREURS</h5>
                 
             </div>
          </td>
          <td>
             <div class="card mb-3" id="card_1" routerLink="/gestion-serveur">
                   <img class="card-img-top" src="../../assets/images/serveur.png" alt="Card image cap"  width="10px" height="100px"id="image">
                   <h5 class="card-title">SERVEURS</h5>
            </div>
          </td>
          
      </tr>
    </table>
 </div>
 
 
           
       
       
       

