<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Listes des Commandes</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">Numero</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Nom</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Position</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Numero-Telephone</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">JOUR & heure-livraison</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Total-Commande</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Recuperer</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="pl-4">1</td>
                      <td>
                          <h5 class="font-medium mb-0">Kona Dave </h5>
                         
                      </td>
                      <td>
                          <span class="text-muted">Douala Cameroun</span><br>
                          <span class="text-muted">Ndogbong citadel</span>
                      </td>
                      <td>
                          <span class="text-muted">+237 699-92-90-93</span>
                      </td>
                      <td>
                          <span class="text-muted">15 Mar 2023</span><br>
                          <span class="text-muted">10: 55 AM</span>
                      </td>
                      <td>
                            <span class="text-muted">15000 Fcfa</span><br>
                         
                  
                      </td>
                      <td>
                       
                        <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-upload"></i> </button>
                      </td>
                    </tr>
                    <tr>
                      <td class="pl-4">2</td>
                      <td>
                          <h5 class="font-medium mb-0">Emma Smith</h5>
  
                      </td>
                      <td>
                          <span class="text-muted">Douala Cameroun</span><br>
                          <span class="text-muted">Makepe petit-pays</span>
                      </td>
                      <td>
                       
                          <span class="text-muted"> +237  675-52-49-22</span>
                      </td>
                      <td>
                          <span class="text-muted">15 Mar 2023</span><br>
                          <span class="text-muted">15:00 AM</span>
                      </td>
                      <td>
                            <span class="text-muted">7000 Fcfa</span><br>
                           
                      </td>
                      <td>
       
                            <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-upload"></i> </button>
                        
                      </td>
                    </tr>
                    
                    
                   
                </table>
                <div class="livrer">
                <button type="button" class=" btn btn-success  li">Recuperer</button>
            </div>
            </div>
        </div>
    </div>
</div>
</div>