#form{
  margin-top: 250px;
  
  width: 1000px;
}

#body{
  height:500px;
}
#elt{
  height:100px;
}

#bas{
  margin-top:90px;
}
button{
  height:100px;
}
#connex{
  width:300px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
  background-color: red;
  border:transparent;
}
#bande{
  background-color: red;
}