<

        <div >
          <div >
              <div class="container" id="form" >
                <div><p>CONNEXION<p></p></div>
                <div class="text-danger " *ngIf="errorMessage">{{errorMessage}}</div>
            
                <div class="card-body">
          <form [formGroup]="userFormGroup" (ngSubmit)="handleLogin()"> 
                <div >
                  <div >
                    <input   type="text"  formControlName="username" class="formControl" placeholder="Nom d'utilisateur" id="elt">
                 </div>
                <div >
                  <input type="password" formControlName="password"  class="formControl" placeholder="Mot de passe" id="elt" >
                </div>
                <div >
                  
                  <button type="submit" class="btn btn-danger"   id="connex">Se connecter</button>
                 </div>
              

                 <li>
                    <input type ="checkbox" value="" aria-label="...">
                    Garder la session ouverte
                  </li>
            </div>
        </form>
                
                
        <!--ombres-->
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div> 
              
      </div>

 

   
