/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(30deg,rgb(119, 100, 100), beige);
}




.border-noe{
    border:none !important;
}
.min-height-80{
min-height:80px; 
}