<!-- la div de toute la page -->
<div class="col mb-3">

  <!-- La div pour que tous les composants ne se collent pas aux bordurees de la page -->
  <div class="col-md-12">
  <!-- La div du titre -->
  <div class="col-md-12 mb-3 mt-5">
    <h2>Nouvelle commande</h2>
  </div>

  <!-- La div des informations globales sur la commande -->
  <div class="row col p-3 customer-border">

    <!-- Formulaire à remplir pour la commande -->
    <div class="col-md-6">
      <form>
        <!-- <div class="form-group">
          <input type="text" class="form-control" formControlName="nom" placeholder="Date commande">
        </div> -->
        <div class="form-group">
          <select class="form-select" aria-label="Default select example" id ="selectclient">
            <option selected>Selectionner un client</option>
            <option value="1">Boissons</option>
            <option value="2">desert </option>
            <option value="3">Plats</option>
          </select>
        </div>
      </form>
    </div>

  </div>



  <!-- La div des ajouts des lignes de commande -->

    <div class="row col mt-2 p-3 customer-border">
      <form [formGroup]="ligneCommandeFormGroup">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" formControlName="codearticle" placeholder="Code article">
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="designation" placeholder="designation">
          </div>
          <div class="col">
            <input type="text" class="form-control" formControlName="categorie" placeholder="categorie">
          </div>
          <div class="col">
            <input type="number" class="form-control" formControlName="quantite" placeholder="quantite">
          </div>
          <div class="col">
            <input type="number" class="form-control" formControlName="prixunitaire" placeholder="Prix unitaire">
          </div>
          <div class="col">
            <button type="button" class="btn btn-success" (click)="onAdd()">+</button>
          </div>
      </div>
      </form>
    </div>

    <!-- La div qui recupere les lignes de commande ajoutes au fur et à mesure -->
    <div class="row col mt-2 p-3 customer-border" style="max-height: 300px; overflow-y: scroll;">
      <!-- <app-detail-cmd></app-detail-cmd> -->

      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th> <th>Code article</th> <th>Designation</th> <th>Categorie</th> <th>Quantite</th>  <th>P.U</th> <th>Montant total</th> <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ligneCommande of ligneCommandes">
              <td>{{ligneCommande.ID}}</td>
              <td>{{ligneCommande.codearticle}}</td>
              <td>{{ligneCommande.designation}}</td>
              <td>{{ligneCommande.categorie}}</td>
              <td>{{ligneCommande.quantite}}</td>
              <td>{{ligneCommande.prixunitaire}}</td>
              <td>{{ligneCommande.montanttotal}}</td>


            </tr>

          </tbody>
        </table>
      </div>

    </div>

    <div class="row col mt-2 p-3 text-right customer-border">
      <h3>Total de la commande: {{this.total}}</h3>
    </div>

  <!-- Bouton action -->

  <div class="col-md-12 text-right mt-2 mb-3">
    <button type="button" class="btn btn-danger" (click)="cancelClick()">
      <i class="fa fa-ban" aria-hidden="true"></i>&nbsp;
      Annuler
    </button>
    <button type="button" class="btn btn-primary ml-2">
      <i class="fa fa-save" aria-hidden="true"></i>&nbsp;
      Enregistrer
    </button>
  </div>
</div>
</div>
