<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" id="form">
<div class="container-fluid" >
<div class="row flex-lg-nowrap" >
 
  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card" >
          <div class="card-body" >
            <div class="e-profile">
              <div class="row" >
                <div class="col">
                  <div class="e-tabs mb-3 px-3">
                    <ul class="nav nav-tabs">
                      <li class="nav-item"><a class="nav-link active" href="#">Nouveau-Utilisateurs</a></li>
                    </ul>
                  </div>
                
                </div>
              </div>
             
              <div class="tab-content pt-3">
                <div class="tab-pane active">
                  <form class="form" novalidate="" >
                    <div class="row" >
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group" >
                              <label>Nom-Complet</label>
                              <input class="form-control" type="text" name="name" placeholder="Kona dave" >
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                              <label>Nom-Utilisateur</label>
                              <input class="form-control" type="text" name="username" placeholder="davekona04" >
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" placeholder="NomUtilisateur@example.com">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col mb-3">
                            <div class="form-group">
                              <label>A propos</label>
                              <textarea class="form-control" rows="5" placeholder="My Bio"></textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-12 col-sm-6 mb-3">
                        <div class="mb-2"><b> votre mot-de-passe</b></div>
                        <div class="row">
                          <div class="col">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Mot-de-passe</label>
                              <input class="form-control" type="password" placeholder="••••••">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                              <label>Confirmez <span class="d-none d-xl-inline">Mot-de-passe</span></label>
                              <input class="form-control" type="password" placeholder="••••••"></div>
                          </div>
                        </div>
                      </div>
                     
                          </div>
                        
                      
                    
                    <div class="row">
                      <div class="col d-flex justify-content-end">
                        <button class="btn btn-success" type="submit">ENREGISTRER</button>
                      </div>
                    </div>
                  
                
              
          
      




